.card-detail{
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.desc{
    display: flex;
    flex-direction: column;
}

.card-detail img {
    width: 400px;
}
.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-detail button {
    width: 150px;
}